@model IEnumerable<Airport>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- TODO Slider -->
<div id="carouselExampleIndicators"
     class="carousel slide"
     data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.turkishairlines.com/m/405b591ac9bd002b/original/A-Turkish-Airlines-Boeing-777-300ER-up-in-the-sky.jpg"
                 class="d-block"
                 style="width: 100%; height: 400px; opacity: 0.85" />
        </div>
    </div>
</div>

<!-- TODO Airports -->
<div class="container mt-5">
    <h2 class="mb-4">Airports</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th style="font-weight: bold;">Airport Code</th>
                    <th>Airport Name</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var airport in Model)
                {
                    <tr>
                    <td style="font-weight: bold;">@airport.AirportID</t>
                        <td>@airport.AirportName</td>
                        <td>@airport.City</td>
                        <td>@airport.Country</td>
                    </tr>
                }
            </tbody>
        </table>
</div>